  body {
    margin: 20px auto;
    font-family: 'Lato';
    background: #fff3b0;
    color: #219ebc;
  }

  .btn-black {
    background-color:#ffafcc;
    color: #006d77;
  }

  .btn-black:hover {
    color: #e63946;
  }
   
  * {
    margin:0;
    padding:0;
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
  }

  .sub-header {
    font-family: 'Montserrat', sans-serif;
    font-size : 1.8rem;
  }

  /* .description {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #f72585;
  } */

  .title {
    font-family: 'Roboto', sans-serif;;
    font-weight: bold;
    font-size: 2rem; 
  }

  .content {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
  }

  .time {
    font-family: 'Source Sans Pro', sans-serif;  
    font-size: 0.85rem;
  }

  div.note-card {
    transform: rotate(-6deg);
  }

  .note-container > div:nth-child(even) > .note-card {
    transform:rotate(4deg);
  }

  .note-container > div:nth-child(3n) > .note-card {
    transform:rotate(-3deg);
  }

  .note-container > div:nth-child(5n) > .note-card {
    transform:rotate(5deg);
  }
  
  .note-container > div:nth-child(even) > .note-card {
    background:#b7e4c7;
  }

  .note-container > div:nth-child(3n) > .note-card {
    background:#cbc0d3;
  }

  div.note-card:focus, div.note-card:hover, .note-card.card-focus {
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25) !important;
    position:relative;
    z-index:5;
  }

  div.note-card {
    margin: 1em;
    text-decoration:none;
    color:#000;
    background:#fec5bb;
    display:block;
    /* height:10em;
    width:10em; */
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transition: transform .15s linear;
    display: flex;
    flex-direction: column;
  }

  .input-focus {
    outline: -webkit-focus-ring-color auto 1px;
  }

  .input-span {
    white-space: pre-wrap;
  }
  .input-span:focus {
    outline: none;
  }

  .style-button{
    background-color:#f8edeb;
    border-radius: 100%;
    padding: 8px 20px;
    align-self: flex-end;
  }
  
  #user-info {
    display: none;
  }

  #user-login {
    max-width: 300px;
    margin: auto;
  }

  #user-logout {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 18px;
  } 

  #user-notes {
    display: none;
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-dark {
    background-color:#a2d2ff;
    color: #006d77;
  }

  .btn-light {
    background-color:#83c5be;
    color:#023047;
  }

  #user-name {
    color:#e36414;
    font-family: 'Shippori Mincho', serif;
    font-weight: bold;
    font-size: 2.5rem;
  }

  #greeting {
    color:#1d3557;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
  }